.DS_Store
node_modules/
.env
client/public/Malmolive360_Fb360_360-1.mp4
client/public/videos/angle1.mp4
client/public/videos/angle2.mp4
client/public/videos/angle3.mp4
client/public/videos/angle4.mp4
client/public/videos/bunny.m4v