body {
    background: rgb(18, 52, 114); /* Genomskinlig bakgrund för hela chatten */
}

.stream-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Om du vill att streamen ska vara bakom annat innehåll */
}

.video-player {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%; /* Full bredd på video */
    height: 100%; /* Full höjd på video */
    object-fit: cover; /* Täcker hela ytan utan att deformeras */
    background-color: #000; 
    border-radius: 8px;
}
